<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mobile first web app theme | first</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/app.v2.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/html5.js"></script> <![endif]--></head>
<body> <!-- header -->
<header id="header" class="navbar">
    <ul class="nav navbar-nav navbar-avatar pull-right">
        <li class="dropdown"><a href="grid.html#" class="dropdown-toggle" data-toggle="dropdown"> <span
                class="hidden-xs-only">Mika Sokeil</span> <span class="thumb-small avatar inline"><img
                src="images/avatar.jpg" alt="Mika Sokeil" class="img-circle"></span> <b
                class="caret hidden-xs-only"></b> </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="grid.html#">Settings</a></li>
                <li><a href="grid.html#">Profile</a></li>
                <li><a href="grid.html#"><span class="badge bg-danger pull-right">3</span>Notifications</a></li>
                <li class="divider"></li>
                <li><a href="docs.html">Help</a></li>
                <li><a href="signin.html">Logout</a></li>
            </ul>
        </li>
    </ul>
    <a class="navbar-brand" href="grid.html#">first</a>
    <button type="button" class="btn btn-link pull-left nav-toggle visible-xs"
            data-toggle="class:slide-nav slide-nav-left" data-target="body"><i
            class="fa fa-bars fa-lg text-default"></i></button>
    <ul class="nav navbar-nav hidden-xs">
        <li>
            <div class="m-t m-b-small" id="panel-notifications"><a href="grid.html#" class="dropdown-toggle"
                                                                   data-toggle="dropdown"><i
                    class="fa fa-comment-o fa-fw fa-lg text-default"></i><b class="badge badge-notes bg-danger count-n">2</b></a>
                <section class="dropdown-menu m-l-small m-t-mini">
                    <section class="panel panel-large arrow arrow-top">
                        <header class="panel-heading bg-white"><span class="h5"><strong>You have <span
                                class="count-n">2</span> notifications</strong></span></header>
                        <div class="list-group"><a href="grid.html#" class="media list-group-item"> <span
                                class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said"
                                                                   class="img-circle"></span> <span
                                class="media-body block m-b-none"> Moved to Bootstrap 3.0<br> <small class="text-muted">
                            23 June 13
                        </small> </span> </a> <a href="grid.html#" class="media list-group-item"> <span
                                class="media-body block m-b-none"> first v.1 (Bootstrap 2.3 based) released<br> <small
                                class="text-muted">19 June 13
                        </small> </span> </a></div>
                        <footer class="panel-footer text-small"><a href="grid.html#" class="pull-right"><i
                                class="fa fa-cog"></i></a> <a href="grid.html#">See all the notifications</a></footer>
                    </section>
                </section>
            </div>
        </li>
        <li>
            <div class="m-t-small"><a class="btn btn-sm btn-info" data-toggle="modal" href="grid.html#modal"><i
                    class="fa fa-fw fa-plus"></i> POST</a></div>
        </li>
        <li class="dropdown shift" data-toggle="shift:appendTo" data-target=".nav-primary .nav"><a href="grid.html#"
                                                                                                   class="dropdown-toggle"
                                                                                                   data-toggle="dropdown"><i
                class="fa fa-cog fa-lg visible-xs visible-xs-inline"></i>Settings <b
                class="caret hidden-sm-only"></b></a>
            <ul class="dropdown-menu">
                <li><a href="grid.html#" data-toggle="class:navbar-fixed" data-target='body'>Navbar <span
                        class="text-active">auto</span> <span class="text">fixed</span> </a></li>
                <li class="hidden-xs"><a href="grid.html#" data-toggle="class:nav-vertical" data-target="#nav">Nav <span
                        class="text-active">vertical</span> <span class="text">horizontal</span> </a></li>
                <li class="divider hidden-xs"></li>
                <li class="dropdown-header">Colors</li>
                <li><a href="grid.html#" data-toggle="class:bg bg-black" data-target='.navbar'>Navbar <span
                        class="text-active">white</span> <span class="text">inverse</span> </a></li>
                <li><a href="grid.html#" data-toggle="class:bg-light" data-target='#nav'>Nav <span class="text-active">inverse</span>
                    <span class="text">light</span> </a></li>
            </ul>
        </li>
    </ul>
    <form class="navbar-form pull-left shift" action="grid.html" data-toggle="shift:appendTo"
          data-target=".nav-primary"><i class="fa fa-search text-muted"></i> <input type="text"
                                                                                    class="input-sm form-control"
                                                                                    placeholder="Search"></form>
</header>
<!-- / header --> <!-- nav -->
<nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <li><a href="index.html"><i class="fa fa-dashboard fa-lg"></i><span>Dashboard</span></a></li>
        <li class="dropdown-submenu active"><a href="grid.html#"><i class="fa fa-th fa-lg"></i><span>Elements</span></a>
            <ul class="dropdown-menu">
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="icons.html"><b class="badge pull-right">302</b>Icons</a></li>
                <li><a href="grid.html">Grid</a></li>
                <li><a href="widgets.html"><b class="badge bg-primary pull-right">8</b>Widgets</a></li>
                <li><a href="components.html"><b class="badge pull-right">18</b>Components</a></li>
                <li><a href="portlet.html">Portlet</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu"><a href="grid.html#"><i class="fa fa-list fa-lg"></i><span>Lists</span></a>
            <ul class="dropdown-menu">
                <li><a href="list.html">List groups</a></li>
                <li><a href="table.html">Table</a></li>
            </ul>
        </li>
        <li><a href="form.html"><i class="fa fa-edit fa-lg"></i><span>Form</span></a></li>
        <li><a href="chart.html"><i class="fa fa-signal fa-lg"></i><span>Chart</span></a></li>
        <li class="dropdown-submenu"><a href="grid.html#"><i class="fa fa-link fa-lg"></i><span>Others</span></a>
            <ul class="dropdown-menu">
                <li><a href="mail.html">Mail</a></li>
                <li><a href="calendar.html">Fullcalendar</a></li>
                <li><a href="timeline.html">Timeline</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="maps.html">Maps</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="signin.html">Signin page</a></li>
                <li><a href="signup.html">Signup page</a></li>
                <li><a href="404.html">404 page</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- / nav -->
<section id="content">
    <section class="main padder">
        <div class="clearfix"><h4><i class="fa fa-columns"></i>Grid</h4>

            <p>Base on Bootstrap grid system, you can get the columns as you want. 12 / (cols) =
                col-lg-(each-col-width-taken), like 12/3 = col-lg-4, 12/5 = col-lg-2.4 <span class="text-muted">(replace the '.' with '-')</span>
            </p></div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body"> col-lg-12</div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">col-lg-6</div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">col-lg-6</div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">col-lg-4</div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">col-lg-4</div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">col-lg-4</div>
                </section>
            </div>
            <div class="col-lg-3">
                <section class="panel">
                    <div class="panel-body">col-lg-3</div>
                </section>
            </div>
            <div class="col-lg-3">
                <section class="panel">
                    <div class="panel-body">col-lg-3</div>
                </section>
            </div>
            <div class="col-lg-3">
                <section class="panel">
                    <div class="panel-body">col-lg-3</div>
                </section>
            </div>
            <div class="col-lg-3">
                <section class="panel">
                    <div class="panel-body">col-lg-3</div>
                </section>
            </div>
            <div class="col-lg-2-4">
                <section class="panel">
                    <div class="panel-body">col-lg-2-4</div>
                </section>
            </div>
            <div class="col-lg-2-4">
                <section class="panel">
                    <div class="panel-body">col-lg-2-4</div>
                </section>
            </div>
            <div class="col-lg-2-4">
                <section class="panel">
                    <div class="panel-body">col-lg-2-4</div>
                </section>
            </div>
            <div class="col-lg-2-4">
                <section class="panel">
                    <div class="panel-body">col-lg-2-4</div>
                </section>
            </div>
            <div class="col-lg-2-4">
                <section class="panel">
                    <div class="panel-body">col-lg-2-4</div>
                </section>
            </div>
            <div class="col-lg-2">
                <section class="panel">
                    <div class="panel-body">col-lg-2</div>
                </section>
            </div>
            <div class="col-lg-2">
                <section class="panel">
                    <div class="panel-body">col-lg-2</div>
                </section>
            </div>
            <div class="col-lg-2">
                <section class="panel">
                    <div class="panel-body">col-lg-2</div>
                </section>
            </div>
            <div class="col-lg-2">
                <section class="panel">
                    <div class="panel-body">col-lg-2</div>
                </section>
            </div>
            <div class="col-lg-2">
                <section class="panel">
                    <div class="panel-body">col-lg-2</div>
                </section>
            </div>
            <div class="col-lg-2">
                <section class="panel">
                    <div class="panel-body">col-lg-2</div>
                </section>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-xs-6">
                        <section class="panel">
                            <div class="panel-body">col-xs-6</div>
                        </section>
                    </div>
                    <div class="col-xs-6">
                        <section class="panel">
                            <div class="panel-body">col-xs-6</div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <section class="panel">
                    <div class="panel-body">col-lg-8</div>
                </section>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <section class="panel">
                            <div class="panel-body">col-sm-6</div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="panel">
                            <div class="panel-body">col-sm-6</div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">col-lg-6</div>
                </section>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-6">
                        <section class="panel">
                            <div class="panel-body">col-sm-6</div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="panel">
                            <div class="panel-body">col-sm-6</div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">col-lg-4</div>
                </section>
            </div>
            <div class="col-sm-6">
                <section class="panel">
                    <div class="panel-body">col-sm-6</div>
                </section>
            </div>
            <div class="col-sm-6">
                <section class="panel">
                    <div class="panel-body">col-sm-6</div>
                </section>
            </div>
        </div>
    </section>
</section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>&copy; first 2013, Mobile first web app framework base on Bootstrap</small>
            <br><br> <a href="grid.html#" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a> <a
                href="grid.html#" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a> <a
                href="grid.html#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a></p>
    </div>
</footer>
<!-- / footer --> <!-- Bootstrap --> <!-- app -->
<script src="js/app.v2.js"></script>
</body>
</html>