<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mobile first web app theme | first</title>
    <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/app.v2.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/html5.js"></script> <![endif]--></head>
<body> <!-- header -->
<header id="header" class="navbar">
    <ul class="nav navbar-nav navbar-avatar pull-right">
        <li class="dropdown"><a href="timeline.html#" class="dropdown-toggle" data-toggle="dropdown"> <span
                class="hidden-xs-only">Mika Sokeil</span> <span class="thumb-small avatar inline"><img
                src="images/avatar.jpg" alt="Mika Sokeil" class="img-circle"></span> <b
                class="caret hidden-xs-only"></b> </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="timeline.html#">Settings</a></li>
                <li><a href="timeline.html#">Profile</a></li>
                <li><a href="timeline.html#"><span class="badge bg-danger pull-right">3</span>Notifications</a></li>
                <li class="divider"></li>
                <li><a href="docs.html">Help</a></li>
                <li><a href="signin.html">Logout</a></li>
            </ul>
        </li>
    </ul>
    <a class="navbar-brand" href="timeline.html#">first</a>
    <button type="button" class="btn btn-link pull-left nav-toggle visible-xs"
            data-toggle="class:slide-nav slide-nav-left" data-target="body"><i
            class="fa fa-bars fa-lg text-default"></i></button>
    <ul class="nav navbar-nav hidden-xs">
        <li>
            <div class="m-t m-b-small" id="panel-notifications"><a href="timeline.html#" class="dropdown-toggle"
                                                                   data-toggle="dropdown"><i
                    class="fa fa-comment-o fa-fw fa-lg text-default"></i><b class="badge badge-notes bg-danger count-n">2</b></a>
                <section class="dropdown-menu m-l-small m-t-mini">
                    <section class="panel panel-large arrow arrow-top">
                        <header class="panel-heading bg-white"><span class="h5"><strong>You have <span
                                class="count-n">2</span> notifications</strong></span></header>
                        <div class="list-group"><a href="timeline.html#" class="media list-group-item"> <span
                                class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said"
                                                                   class="img-circle"></span> <span
                                class="media-body block m-b-none"> Moved to Bootstrap 3.0<br> <small class="text-muted">
                            23 June 13
                        </small> </span> </a> <a href="timeline.html#" class="media list-group-item"> <span
                                class="media-body block m-b-none"> first v.1 (Bootstrap 2.3 based) released<br> <small
                                class="text-muted">19 June 13
                        </small> </span> </a></div>
                        <footer class="panel-footer text-small"><a href="timeline.html#" class="pull-right"><i
                                class="fa fa-cog"></i></a> <a href="timeline.html#">See all the notifications</a>
                        </footer>
                    </section>
                </section>
            </div>
        </li>
        <li>
            <div class="m-t-small"><a class="btn btn-sm btn-info" data-toggle="modal" href="timeline.html#modal"><i
                    class="fa fa-fw fa-plus"></i> POST</a></div>
        </li>
        <li class="dropdown shift" data-toggle="shift:appendTo" data-target=".nav-primary .nav"><a href="timeline.html#"
                                                                                                   class="dropdown-toggle"
                                                                                                   data-toggle="dropdown"><i
                class="fa fa-cog fa-lg visible-xs visible-xs-inline"></i>Settings <b
                class="caret hidden-sm-only"></b></a>
            <ul class="dropdown-menu">
                <li><a href="timeline.html#" data-toggle="class:navbar-fixed" data-target='body'>Navbar <span
                        class="text-active">auto</span> <span class="text">fixed</span> </a></li>
                <li class="hidden-xs"><a href="timeline.html#" data-toggle="class:nav-vertical" data-target="#nav">Nav
                    <span class="text-active">vertical</span> <span class="text">horizontal</span> </a></li>
                <li class="divider hidden-xs"></li>
                <li class="dropdown-header">Colors</li>
                <li><a href="timeline.html#" data-toggle="class:bg bg-black" data-target='.navbar'>Navbar <span
                        class="text-active">white</span> <span class="text">inverse</span> </a></li>
                <li><a href="timeline.html#" data-toggle="class:bg-light" data-target='#nav'>Nav <span
                        class="text-active">inverse</span> <span class="text">light</span> </a></li>
            </ul>
        </li>
    </ul>
    <form class="navbar-form pull-left shift" action="timeline.html" data-toggle="shift:appendTo"
          data-target=".nav-primary"><i class="fa fa-search text-muted"></i> <input type="text"
                                                                                    class="input-sm form-control"
                                                                                    placeholder="Search"></form>
</header>
<!-- / header --> <!-- nav -->
<nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <li><a href="index.html"><i class="fa fa-dashboard fa-lg"></i><span>Dashboard</span></a></li>
        <li class="active"><a href="timeline.html"><i class="fa fa-time fa-lg"></i> <span>Timeline</span></a></li>
        <li class="dropdown-submenu"><a href="timeline.html#"><i class="fa fa-th fa-lg"></i><span>Elements</span></a>
            <ul class="dropdown-menu">
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="icons.html"><b class="badge pull-right">302</b>Icons</a></li>
                <li><a href="grid.html">Grid</a></li>
                <li><a href="widgets.html"><b class="badge bg-primary pull-right">8</b>Widgets</a></li>
                <li><a href="components.html"><b class="badge pull-right">18</b>Components</a></li>
                <li><a href="portlet.html">Portlet</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu"><a href="timeline.html#"><i class="fa fa-list fa-lg"></i><span>Lists</span></a>
            <ul class="dropdown-menu">
                <li><a href="list.html">List groups</a></li>
                <li><a href="table.html">Table</a></li>
            </ul>
        </li>
        <li><a href="form.html"><i class="fa fa-edit fa-lg"></i><span>Form</span></a></li>
        <li><a href="chart.html"><i class="fa fa-signal fa-lg"></i><span>Chart</span></a></li>
        <li class="dropdown-submenu"><a href="timeline.html#"><i class="fa fa-link fa-lg"></i><span>Others</span></a>
            <ul class="dropdown-menu">
                <li><a href="mail.html">Mail</a></li>
                <li><a href="calendar.html">Fullcalendar</a></li>
                <li><a href="timeline.html">Timeline</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="maps.html">Maps</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="signin.html">Signin page</a></li>
                <li><a href="signup.html">Signup page</a></li>
                <li><a href="404.html">404 page</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- / nav -->
<section id="content" class="content-sidebar"> <!-- .main -->
    <section class="main">
        <div class="padder m-t m-b">
            <div class="timeline">
                <article class="timeline-item active">
                    <div class="timeline-caption">
                        <div class="panel bg bg-primary"><span class="timeline-icon"><i
                                class="fa fa-bell-o time-icon bg-primary"></i></span> <span class="timeline-date">7:30 am</span>
                            <h5><span>Wake up</span> Me </h5>

                            <div class="m-t-small timeline-action"><span class="h3 pull-left m-r-small">4:51</span>
                                <button class="btn btn-sm btn-white"><i class="fa fa-pause"></i> Pause</button>
                                <button class="btn btn-sm btn-white"><i class="fa fa-check"></i> Confirm</button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="timeline-item">
                    <div class="timeline-caption">
                        <div class="panel arrow arrow-left"><span class="timeline-icon"><i
                                class="fa fa-mobile-phone time-icon bg-primary"></i></span> <span class="timeline-date">12:25 am</span>
                            <h5><span>Call to</span> Jason Cokde (021-254-3523) </h5></div>
                    </div>
                </article>
                <article class="timeline-item alt">
                    <div class="timeline-caption">
                        <div class="panel arrow arrow-right"><span class="timeline-icon"><i
                                class="fa fa-male time-icon bg-success"></i></span> <span
                                class="timeline-date">10:00 am</span> <h5><span>Appointment</span> Carmark Sook (.inc
                            company) </h5>

                            <p>Morbi nec nunc condimentum, egestas dui nec, </p></div>
                    </div>
                </article>
                <article class="timeline-item">
                    <div class="timeline-caption">
                        <div class="panel arrow arrow-left"><span class="timeline-icon"><i
                                class="fa fa-plane time-icon"></i></span> <span class="timeline-date">8:00 am</span>
                            <h5><span>Fly to</span> Newyork City </h5>

                            <p>82°, Very hot with some sun</p></div>
                    </div>
                </article>
                <article class="timeline-item alt">
                    <div class="timeline-caption">
                        <div class="panel arrow arrow-right"><span class="timeline-icon"><i
                                class="fa fa-file-text time-icon bg-info"></i></span> <span class="timeline-date">9:30 am</span>
                            <h5><span>Meeting</span> Office A - 2 floor </h5>

                            <p>Iaculis lorem justo porttitor orci. Vivamus vestibulum tortor augue. Donec elementum
                                mollis velit.</p></div>
                    </div>
                </article>
                <article class="timeline-item">
                    <div class="timeline-caption">
                        <div class="panel arrow arrow-left"><span class="timeline-icon"><i
                                class="fa fa-code time-icon"></i></span> <span class="timeline-date">9:00 am</span> <h5>
                            <span>Work on</span> Web application project </h5>

                            <p>Iaculis lorem justo porttitor orci. Donec elementum mollis velit.</p></div>
                    </div>
                </article>
                <div class="timeline-footer"><a href="timeline.html#"><i
                        class="fa fa-plus time-icon inline-block bg-default"></i></a></div>
            </div>
        </div>
    </section>
    <!-- /.main --> <!-- .sidebar -->
    <aside class="sidebar sidebar-large bg-lighter padder clearfix"><h5>Timeline(36)</h5>

        <div class="line"></div>
        <form><label>Name</label> <input type="text" placeholder="Event name" class="input-sm form-control"> <label
                class="m-t-mini">Date</label> <input type="text" placeholder="Event name"
                                                     class="datepicker input-sm form-control"> <label class="m-t-mini">Time</label>
            <input type="text" placeholder="eg. 3:00 pm" class="input-sm form-control"> <label
                    class="m-t-mini">Type</label>

            <div>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle"><span
                            class="dropdown-label">Choose a type</span> <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-select">
                        <li><a href="timeline.html#"><input type="radio" name="d-s-r">Travel</a></li>
                        <li class=""><a href="timeline.html#"><input type="radio" name="d-s-r">Phone</a></li>
                        <li class=""><a href="timeline.html#"><input type="radio" name="d-s-r">Meeting</a></li>
                        <li class=""><a href="timeline.html#"><input type="radio" name="d-s-r">Appointment</a></li>
                    </ul>
                </div>
            </div>
            <div class="m-t">
                <button class="btn btn-sm btn-info">Add an event</button>
            </div>
        </form>
    </aside>
    <!-- /.sidebar --> </section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>&copy; first 2013, Mobile first web app framework base on Bootstrap</small>
            <br><br> <a href="timeline.html#" class="btn btn-xs btn-circle btn-twitter"><i
                class="fa fa-twitter"></i></a> <a href="timeline.html#" class="btn btn-xs btn-circle btn-facebook"><i
                class="fa fa-facebook"></i></a> <a href="timeline.html#" class="btn btn-xs btn-circle btn-gplus"><i
                class="fa fa-google-plus"></i></a></p>
    </div>
</footer>
<!-- / footer --> <!-- Bootstrap --> <!-- Sparkline Chart --> <!-- Easy Pie Chart --> <!-- app -->
<script src="js/app.v2.js"></script>
</body>
</html>